@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Inter:wght@400;800;900&family=Lato:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at center, #FBBC05, #FF8F3F);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.upmenu {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.logo {
  font-family: 'Finger Paint', sans-serif;
  font-size: 40px;
  color: white;
}

.navbar a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.main {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #fff;
  line-height: 77px;
  text-transform: capitalize;
  max-width: 100px;
}

.text p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  max-width: 130px;
  margin-top: 20px;
}

.mealpic img {
  max-width: 300px;
  max-height: 300px;
}

.main .mealpic {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 25px solid rgba(255,255,102, 0.15);
  border-radius: 50%;
  overflow: hidden;
}

.slide img {
  max-width: 70px;
  max-height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease 1s;
}

.main .slide-container {
  height: 350px;
  width: 120px;
  border: 2px solid white;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide-container .slide {
  width: 70px;
  height: 70px;
  position: relative;
  left:0;
  top:0;
}
